# Server & API
fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-jose[cryptography]

# Communication & Client
httpx

# Graphical Interface
PySide6
qtawesome

# Hardware & Tests
python-escpos
pywin32
pytest